<div class="container">
  <div class="page-header">
    <h1>About Us</h1>
  </div>
  <h3>Terms of Service</h3>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
     Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
  </p>
  <h3>Details</h3>
  <p>
    <ul>
       -  This pool is using for private mining or group mining.<br/>
       -  High performance proxy.<br/>
       -  Payouts and block unlocking module.<br/>
	   -  For a support, please write an email to us through below contact. <br/>In support mail, please describe your mining address and subject: "HMP Support: &lt;Purpose of this email&gt;".<br/>
    </ul>
  </p>
  <h3>Contact</h3>
  <p>Write support questions to <a href="mailto:seodongchan@gmail.com">@DONGCHAN, SEO</a>.</p>
  <p>Write technical questions to <a href="mailto:meanoflife_ko@gmail.com">@TOP MIKE</a>.</p> 
  <p>Smart Earning and Happy Mining with us!</p>
</div>