<div class="container">
  <div class="page-header">
  <p>
	<ul>
	   <h4>  Stats API is temporarily downed.</h4><br/>
       &star;  The website may be under maintenance. Sorry for this inconvenience!<br/>
       &star;  Usually this is only a temporary page, which does not affect to mining any way. Please wait a few seconds and then reload the page.<br/>
	</ul>
  </p>
  </div>
</div>