<div class="container">
  <div class="page-header">
    <h1>No data record for this account</h1>
    <p>If you want to view statistics on your account, you need to submit at least one share to the pool.</p>
  </div>
</div>