<div class="container">
  <div class="page-header">
    <h1>List of MININGKOREA Pools</h1>
  </div>
  <h3>Dagger-Hashimoto</h3>
  <p> 
    <strong>
    <ul>
       -  ETH<br/>
       -  ETC<br/>
       -  EXP<br/>
	   -  PIRL<br/>
	   -  ELLA<br/>
    </ul>
	</strong>
  </p>
  <h3>Equihash</h3>
  <p>
    <strong>  
    <ul>
       -  ZEC<br/>
       -  ZCL<br/>
    </ul>
    </strong>	
  </p>
  <h3>Scrypt</h3>
  <p>
    <strong>	  
    <ul>
       -  LTC<br/>
       -  ...<br/>
    </ul>
    </strong>		
  </p>    
  <h3>Future</h3>
  <strong>
  <p>We are working hard to provide more good pools soon</p>
  <p>Smart Earning with us! Happy mining together! $$</p>
  </strong>
</div>